<div class="container" style="padding-bottom: 20px">
  <h1><a href="#/" ng-class="[ 'label', (center ? 'center-block' : 'pull-left') ]" style="background-color: black">&#8220;The Quotes&#8222;</a></h1>
  <!--<div ng-if="!center" class="pull-right">{{ session.user.name }}</div>-->

  <div ng-if="!center" class="pull-right btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{ user.name }} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#/account">Conta</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="#/login?logout">Logout</a></li>
    </ul>
  </div>
</div>
