<main-header></main-header>


  <div class="panel panel-default">
    <div class="panel-body">
      <div class="form-group">
        <!--<label for="name">Name</label>-->
        <!--<input type="text" ng-model="quoteObj.name" id="name" placeholder="Quote Name">-->

          <input type="text" class="form-control" ng-model="newQuote.phrase" placeholder="Frase c&eacute;lebre">
          <input type="text" class="form-control" ng-model="newQuote.author" placeholder="O Autor">


      </div>
    </div>
    <div class="panel-footer">
      <button ng-disabled="!newValid()" class="btn btn-default" ng-click="new()">Nova</button>
      <div class="pull-right">
        <div-toaster id="bookQuoteSave"></div-toaster>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div ng-if="!quotes || quotes.length === 0" class="panel-body">
      <i>
        <p>Ainda n&atilde;o h&aacute; quotes!</p>
        <p>Insira a frase e o autor e clique em "Nova"</p>
      </i>
    </div>

    <div ng-if="quotes && quotes.length > 0" class="panel-body">
      <div ng-repeat="q in quotes track by $index">
        <div class="container ">
          <div  class="row" style="padding-bottom: 10px">
            <div class="col-xs-10">
              <strong>{{ q.phrase }}</strong> <br>
              <em>-- {{ q.author }}</em>
            </div>
            <div class="col-xs-2">
              <button class="btn btn-xs btn-danger" ng-click="deleteQuote(q.id)">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>

