<main-header center></main-header>

<div class="container" ng-show="confirmed === 'ok'">
  <h3>Confirmado</h3>
  <h4><a href="#/">Comece agora!</a></h4>
</div>


<div class="container" ng-show="confirmed === 'nok'">
  <h1>Ooops...</h1>
  <p>Seu link de confirma&ccedil;&atilde;o est&aacute; inv&aacute;lido ou j&aacute; foi utilizado.</p>
  <p>Favor verifique seu e-mail. Ou tente <a href="#/">entrar com seu e-mail e senha</a></p>
</div>

<div class="container" ng-show="!confirmed">
  <h3>Validando confirmação...</h3>
</div>
