<main-header></main-header>

<div class="panel panel-default" >
  <div class="panel-body">
    {{ quoteOfTheDay.quote }}<br>
    -- {{ quoteOfTheDay.author }}
  </div>
</div>

<div class="panel panel-default" >
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-6">Convide um amigo</div>
      <div ng-show="sentAlert" class="col-xs-6 text-right text-success">Enviado <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></div>
    </div>
  </div>

  <div class="panel-body">
    <div class="container">
      <div class="row">
        <div class="col-xs-9">
          <input type="email" class="form-control" ng-model="inviteEmail" placeholder="E-mail do amigo">
        </div>
        <div class="col-xs-3">
          <button class="btn" style="background-color: black; color: white" ng-click="sendInvite()">Envia</button>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="container">
  <a class="btn" style="background-color: black; color: white" href="#/quote/1">Edite as Quotes</a>
</div>
