<main-header></main-header>

<div class="panel panel-default" >
  <div class="panel-heading">Nova Quote</div>
  <div class="panel-body">
    <div class="form-group">
      <!--TODO: Colocar nova quote como diretiva?-->
      <!--<label for="name">Name</label>-->
      <!--<input type="text" ng-model="quoteObj.name" id="name" placeholder="Quote Name">-->

      <input type="text" class="form-control" ng-model="newQuote.phrase" placeholder="Frase c&eacute;lebre">
      <input type="text" class="form-control" ng-model="newQuote.author" placeholder="O Autor">

    </div>
  </div>

  <div class="panel-footer">
    <div class="pull-left">
      <div-toaster id="homeQuoteSave"></div-toaster>
    </div>
    <div class="text-right">
      <button ng-disabled="!newValid()" class="btn btn-default" ng-click="new()">Nova</button>
    </div>
  </div>

</div>



<div class="panel panel-default" >
  <div class="panel-body">
    &#8220;&nbsp;{{ randomQuote.phrase }}&nbsp;&#8222;<br>
    -- {{ randomQuote.author }}
  </div>
  <div class="panel-footer text-right">
    <a class="btn" style="background-color: black; color: white" href="#/book/1">Edite as Quotes</a>
  </div>
</div>


<div class="panel panel-default" >
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-6">Convide um amigo</div>
      <div class="col-xs-6 text-right">
        <div-toaster id="homeFriendInvite"></div-toaster>
      </div>
    </div>
  </div>

  <div class="panel-body">
    <div class="container">
      <div class="row">
        <div class="col-xs-9">
          <input type="email" class="form-control" ng-model="inviteEmail" placeholder="E-mail do amigo">
        </div>
        <div class="col-xs-3">
          <button class="btn" style="background-color: black; color: white" ng-disabled="!inviteEmail || sendingInvite" ng-click="sendInvite()">{{ sendingInvite ? 'Enviando' : 'Envia' }}</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default" >
  <div class="panel-heading">
    Mostre as quotes
  </div>

  <div class="panel-body">
    <div class="row">
      <div class="col-xs-2">
        Texto
      </div>
      <div class="col-xs-10">
        <a href="{{ link.text }}">{{ link.text }}</a>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-2">
        HTML
      </div>
      <div class="col-xs-10">
        <a href="#/random/1">aqui</a>
      </div>
    </div>
  </div>
</div>
<main-footer></main-footer>
