<main-header></main-header>


<div class="container">

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Your quotes</h3>
    </div>
    <div class="panel-body">
      <div class="container">
        <table class="table table-bordered">
          <tbody>
            <tr ng-repeat="quote in userQuotes track by quote.id">
              <td><a href="#/quote/{{quote.id}}">{{ quote.name }}</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
<main-footer></main-footer>
