<main-header center></main-header>

  <div class="container" ng-if="invite && !sent">
    <p>Seu convite enviado por <em>{{ invite.hostUserName }}</em> &eacute; v&aacute;lido.</p>
    <p>Preencha seus dados para entrar.</p>
    <br>
  </div>

  <form class="container form-horizontal center-block" ng-show="!sent" >
    <div class="form-group">
      <label for="inputName" class="col-sm-4 control-label">Nome</label>
      <div class="col-sm-8">
        <input type="text" ng-model="name" class="form-control" id="inputName" placeholder="Nome">
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail" class="col-sm-4 control-label">E-mail</label>
      <div class="col-sm-8">
        <input type="email" ng-model="email" class="form-control" id="inputEmail" placeholder="E-mail">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="col-sm-4 control-label">Senha</label>
      <div class="col-sm-8">
        <input type="password" ng-model="password" class="form-control" id="inputPassword" placeholder="Senha">
      </div>
    </div>
    <div class="form-group">
      <label for="passwordConfirm" class="col-sm-4 control-label">Confirme a Senha</label>
      <div class="col-sm-8">
        <input type="password" ng-model="passwordConfirm" class="form-control" id="passwordConfirm" placeholder="Senha novamente">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-8">
        <button ng-disabled="!validForm()" type="submit" class="btn btn-default" ng-click="signUp()">Entrar</button>
      </div>
      <div-toaster id="signupEnter"></div-toaster>

      <div ng-show="sentAlert" class="col-xs-6 text-right text-success">Enviado <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></div>
      <div ng-show="errorAlert" class="col-xs-6 text-right text-danger">{{ errorAlert }} <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></div>

    </div>
  </form>

  <div class="container" ng-show="sent">
    Voc&ecirc; receber&aacute; um e-mail com o link de confirma&ccedil;&atilde;o. Bem-vindo!!!
  </div>
</div>
